<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/static/q/js/jquery.js"></script>
    <link rel="stylesheet" href="/static/q/css/style.css">
    <title>Travel Blog - Details</title>
    <script src="/static/q/js/tailwindcss.js"></script>
</head>

<body>
    <main>
        <section class="lg:px-6 lg:pb-6">
            <div class="relative lg:rounded-lg h-screen-1/2 lg:min-h-144 overflow-hidden"><img alt=""
                    loading="lazy" width="1920" height="640" decoding="async" data-nimg="1"
                    class="max-w-full object-cover w-full h-full" style="color:transparent"
                    srcset="https://lp-cms-production.imgix.net/2019-06/d9960974f6e911075de951b22a332fbe-tokyo-national-museum.jpg?auto=format&amp;w=1920&amp;h=640&amp;fit=crop&amp;crop=faces,edges&amp;q=75 1x, https://lp-cms-production.imgix.net/2019-06/d9960974f6e911075de951b22a332fbe-tokyo-national-museum.jpg?auto=format&amp;w=1920&amp;h=640&amp;fit=crop&amp;crop=faces,edges&amp;q=75 2x"
                    src="https://lp-cms-production.imgix.net/2019-06/d9960974f6e911075de951b22a332fbe-tokyo-national-museum.jpg?auto=format&amp;w=1920&amp;h=640&amp;fit=crop&amp;crop=faces,edges&amp;q=75">
                <div
                    class="z-10 absolute top-0 w-full h-full bg-gradient-to-b from-black/40 via-black/10 to-transparent">
                </div>
            </div>
        </section>
        <div class="container">
            <header class="lg:flex justify-between items-end my-8 lg:mt-12 lg:mb-20">
                <div class="lg:w-3/4">
                    <h1 class="inline text-3xl lg:text-6xl text-blue-400 font-semibold">
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">Loading...</font>
                        </font><!-- -->
                    </h1>
                </div>
            </header>
            <hr class="container text-[#DBDBDB]">
            <div class="my-10 max-w-full mx-auto">
                <article class="my-8 lg:my-16">
                    <section class="lg:w-full styles_article-body___AqUn">
                        <div class="readMore_content__bv7mp relative overflow-hidden ">
                            Loading...
                        </div>
                    </section>
                </article>
            </div>
        </div>
    </main>
</body>

</html>